@breadcrumb-color:             #e3e3e3;
@breadcrumb-bg:                @black-30;
@breadcrumb-border:            darken(@breadcrumb-bg, 6.5%);
@breadcrumb-divider:           @breadcrumb-color;
@breadcrumb-link-color:        @yellow;
@breadcrumb-link-hover-color:  @red;
