@navbar-mainmenu-color:                @red;
@navbar-mainmenu-bg:                   @black-30;
@navbar-mainmenu-border:               darken(@navbar-mainmenu-bg, 6.5%);
@navbar-mainmenu-font:                 @header-font;
@navbar-mainmenu-font-size:            @font-size-base * 2;
@navbar-mainmenu-link-color:           @navbar-mainmenu-color;
@navbar-mainmenu-link-hover-color:     @yellow;
@navbar-mainmenu-link-hover-bg:        transparent;
@navbar-mainmenu-link-active-color:    @navbar-mainmenu-link-hover-color;
@navbar-mainmenu-link-active-bg:       @red-30;
@navbar-mainmenu-link-disabled-color:  darken(@navbar-mainmenu-link-hover-color, 20%);
@navbar-mainmenu-link-disabled-bg:     transparent;
@navbar-mainmenu-brand-color:          @navbar-mainmenu-link-color;
@navbar-mainmenu-brand-hover-color:    darken(@navbar-mainmenu-brand-color, 10%);
@navbar-mainmenu-brand-hover-bg:       transparent;

@import "navbar-mainmenu-dropdowns.less";
