@main-content-color:                   @dark-gray;
@main-content-bg:                      #ffffff;
@main-content-border:                  transparent;
@main-content-header-color:            @dark-gray;
@main-content-header-font:             @header-font;
@main-content-header-font-size-base:   @font-size-base;
@main-content-header-hover-color:      @main-content-header-color;
@main-content-header-hover-bg:         transparent;
@main-content-divider-color:           #F16421;
@main-content-link-color:              @orange-text;
@main-content-link-hover-color:        darken(@main-content-link-color, 15%);
@main-content-link-hover-bg:           transparent;
@main-content-muted-color:             @gray-light;
@main-content-muted-link-color:        @main-content-link-color;
@main-content-muted-link-hover-color:  @main-content-link-hover-color;
@main-content-muted-link-hover-bg:     transparent;
@main-content-icon-link-color:         @orange-text;
@main-content-icon-link-hover-color:   darken(@main-content-link-color, 15%);
@main-content-icon-link-hover-bg:      transparent;
@main-content-panel-heading-color:     @main-content-header-color;
@main-content-panel-heading-bg:        @main-content-bg;
@main-content-panel-heading-border:    @main-content-border;
@main-content-panel-body-border:       @main-content-border;
