@main-content-color:                   #eeeeee;
@main-content-bg:                      @black-30;
@main-content-border:                  transparent;
@main-content-header-color:            #ffeeb4;
@main-content-header-font:             @header-font;
@main-content-header-font-size-base:   @font-size-base;
@main-content-header-hover-color:      @main-content-header-color;
@main-content-header-hover-bg:         transparent;
@main-content-divider-color:           #6b3500;
@main-content-link-color:              @orange;
@main-content-link-hover-color:        @yellow;
@main-content-link-hover-bg:           transparent;
@main-content-muted-color:             @gray-light;
@main-content-muted-link-color:        @main-content-link-color;
@main-content-muted-link-hover-color:  @main-content-link-hover-color;
@main-content-muted-link-hover-bg:     transparent;
@main-content-icon-link-color:         @main-content-link-color;
@main-content-icon-link-hover-color:   @main-content-link-hover-color;
@main-content-icon-link-hover-bg:      transparent;
@main-content-panel-heading-color:     @main-content-header-color;
@main-content-panel-heading-bg:        @main-content-bg;
@main-content-panel-heading-border:    @main-content-border;
@main-content-panel-body-border:       @main-content-border;
