@main-content-color:                   #220F02;
@main-content-bg:                      #BE9A54;
@main-content-border:                  transparent;
@main-content-header-color:            #952A04;
@main-content-header-font:             @header-font;
@main-content-header-font-size-base:   @font-size-base;
@main-content-header-hover-color:      @main-content-header-color;
@main-content-header-hover-bg:         transparent;
@main-content-divider-color:           #F4CD53;
@main-content-link-color:              #220F02;
@main-content-link-hover-color:        #952A04;
@main-content-link-hover-bg:           transparent;
@main-content-muted-color:             #815602;
@main-content-muted-link-color:        @main-content-link-color;
@main-content-muted-link-hover-color:  @main-content-link-hover-color;
@main-content-muted-link-hover-bg:     transparent;
@main-content-icon-link-color:         @main-content-link-color;
@main-content-icon-link-hover-color:   @main-content-link-hover-color;
@main-content-icon-link-hover-bg:      transparent;
@main-content-panel-heading-color:     @main-content-header-color;
@main-content-panel-heading-bg:        @main-content-bg;
@main-content-panel-heading-border:    @main-content-border;
@main-content-panel-body-border:       @main-content-border;
